# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore any terraform.tfvars file
# terraform.tfvars

# Ignore conf files
*.conf

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Credential files
/credentials/*.json
/credentials/*.json*

# Exception for backend.conf file
!/tf-standard_backends/backend.conf.
.terraform.lock.hcl